<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>IAMSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>pers.zxlin.iam.filter.SessionCheckFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/main.jsp</url-pattern> 
  </filter-mapping>
  
  <filter>
    <filter-name>SSOFilter</filter-name>
    <filter-class>pers.zxlin.iam.filter.SSOFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>SSOFilter</filter-name>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  
  <session-config>  
    <session-timeout>5</session-timeout>  
  </session-config>
  
  <servlet>
  	<servlet-name>Modify</servlet-name>
  	<servlet-class>pers.zxlin.iam.servlet.Modify</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Modify</servlet-name>
  	<url-pattern>/servModify</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Create</servlet-name>
  	<servlet-class>pers.zxlin.iam.servlet.Create</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Create</servlet-name>
  	<url-pattern>/servCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>pers.zxlin.iam.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/servLogin</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>Search</servlet-name>
  	<servlet-class>pers.zxlin.iam.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/servSearch</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AlterIdTable</servlet-name>
  	<servlet-class>pers.zxlin.iam.servlet.AlterIdTable</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AlterIdTable</servlet-name>
  	<url-pattern>/servAlterIdTable</url-pattern>
  </servlet-mapping>
  
  
</web-app>